<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Innovative and results-oriented Software Engineer with expertise in Java, NodeJS, and Python. Skilled in utilizing advanced analytics, machine learning, and deep learnin. Experienced in system architecture design, optimizing database operations, and integrating REST APIs for seamless frontend and backend communication. Adept at spearheading development projects, resolving complex issues, and achieving optimization by leveraging DevOps practices.</p>
      </div>
      <div class="col-lg-4">
        <p>Proficient in orchestrating deployments on cloud platforms, such as Docker, Kubernetes, and Red Hat OpenShift. Strong knowledge of web technologies, databases, and agile methodologies. Exceptional problem-solving abilities and a collaborative mindset, leading cross-functional teams and driving successful project outcomes. Master's degree in Computer Science with a proven track record of academic excellence. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://www.linkedin.com/in/tejas-kale-772449155" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Visit LinkedIn Profile
        </a>
      </div>
    </div>
  </div>
</section>
